/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--fundo-principal);
  line-height: 1.5em;
  color: var(--texto)
}
:root{
   --fundo-principal: #f0f0f0;
  --texto: #333;
  --texto-inverso: #fff;
  --destaque: #e31f1f;
  --destaque-inverso: #ec7272;
  --fundo-card: #fff;
}
header{
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display:flex;
  justify-content: flex-end;
  align-content: center;
}
nav#menu ul{
  display: flex;
  gap:20px;
  list-style: none;
}
nav#menu a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600px;
  padding: 12px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
nav#menu a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

